<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Views/css/style.css" />
    <title>Тренажерный зал </title>
    <style>
        .field-validation-error {
            color: #f00;
        }
        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }
        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>